.jumbotron {
    background-image: url("images/heart3.jpeg");
    background-size: 100% 100%;
    text-align: center;
  }

  body {
    color: rgb(255, 0, 0);
  }

  h1 {
    color: rgb(25, 241, 25);
  }